body {
    display: flex;
    flex-direction: column;
    background-image: url("karsten-wurth-algc0FKHeMA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    text-align: center;
}

#appSection {
    display: flex;
    flex-direction: column;
    background: linear-gradient(220deg, #485696, #d489c2);
    margin: auto;
    padding: 7em;
    border-radius: 15px;
    border: 1px solid whitesmoke;
    opacity: 0.7;
    text-align: center;
}

#searchSection {
    padding: auto;
}

.weatherIcon {
    height: 15em;
}

#hiLow {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
}

#imgTempCity {
    margin: 2em 0;
}

.lowTemp, .highTemp {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    color:rgb(58, 35, 126);
    border-color: rgb(58, 35, 126);
    border-radius: 5px;
    outline: none;
}

button {
    border-radius: 5px;
    background: none;
}
#mainTitle {
    margin-top: 1.5em;
    margin-bottom: 0.8em;
}

.PUN {
    margin: 0;
}

/* footer {
    display: flex;
    margin: 3em 0;
    justify-content: center;
    position: fixed;
} */

/* footer img {
    display: inline-block;
    height: 1em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
} */
